* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.modal-box .modal {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 15px;
  translate: 0 calc(-100% - 30%);
  transition: translate 0.4s ease;
  z-index: 1;
  background-color: #fff;
}

.modal-box .modal .modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.modal-box .modal .modal-header .close {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-box .overlay {
  position: fixed;
  inset: 0;
  background: #000000a0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
  transition-property: visibility, opacity;
}

.modal-box.show .modal {
  translate: 0 0;
}

.modal-box.show .overlay {
  opacity: 1;
  visibility: visible;
}
