* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel .carousel-inner {
  display: flex;
  transition: translate 0.4s ease;
  touch-action: manipulation;
}

.carousel.drag {
  cursor: grab;
}

/* .carousel .carousel-inner .item {
  width: 1440px;
}

.carousel .carousel-inner .item:not(.active) {
  display: none;
} */

.carousel .carousel-nav span {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  width: 40px;
  height: 40px;
  background: rgba(128, 128, 128, 0.613);
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.carousel .carousel-nav span.prev {
  left: 10px;
}

.carousel .carousel-nav span.next {
  right: 10px;
}

.carousel .carousel-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  gap: 10px;
}

.carousel .carousel-dots span {
  display: block;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.carousel .carousel-dots span.active,
.carousel .carousel-dots span:hover {
  background: goldenrod;
}
