.box {
  padding: 20px 0;
}

$number: 0;

@if ($number > 0) {
  .box-2 {
    padding: 40px 0;
  }
}

$width: 500;
.w-#{$width} {
  @if ($width > 0 and $width <= 100) {
    width: #{$width + 0%};
  } @else if ($width <= 0) {
    width: 0;
  } @else {
    width: 100%;
  }
}

$prefix: col;
$breakpoint: "";
$number: 5;

$selector: #{"." + $prefix + "-" + $number};

@if ($breakpoint != "") {
  $selector: #{"." + $prefix + "-" + $breakpoint + "-" + $number};
} @else {
  $selector: #{$selector};
}

#{$selector} {
  width: 50%;
}

%section-base {
  padding: 30px 0;
  border: 1px solid red;
}

.posts {
  background: green;
  @extend %section-base;
}

.products {
  background: gray;
  @extend %section-base;
}
