// Color

// Orange
$orangeColor1000: #662400;
$orangeColor900: #8e3300;
$orangeColor800: #b74200;
$orangeColor700: #e05000;
$orangeColor600: #ff6916;
$orangeColor500: #ff8440;
$orangeColor400: #ff9f6a;
$orangeColor300: #ffba94;
$orangeColor200: #ffd5bd;
$orangeColor100: #fff0e7;

// Gray
$grayColor1000: #3d3c3c;
$grayColor900: #515151;
$grayColor800: #656565;
$grayColor700: #7a7a7a;
$grayColor600: #8e8e8e;
// Main gray
$grayColor500: #a3a3a3;
$grayColor400: #b7b7b7;
$grayColor300: #cbcbcb;
$grayColor200: #e0e0e0;
$grayColor100: #f4f4f4;

// Green
$greenColor1000: #216000;
$greenColor900: #2e8900;
// Primary color
$greenColor800: #46b20f;
$greenColor700: #63db25;
$greenColor600: #81ff41;
$greenColor500: #98ff64;
$greenColor400: #aeff86;
$greenColor300: #c5ffa8;
$greenColor200: #dcffca;
$greenColor100: #f2ffec;

$primaryColor: #46b20f;
$textColor: #2c2c2c;
$fontPrimary: "Inter", sans-serif;
$fontSize: 1.6rem;
$linkColor: #2c2c2c;
$headingColor: #2c2c2c;
$headerHeight: 108px;
