* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Harmony;
  src: url(../font/Harmony.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(../font/Raleway-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Raleway;
  src: url(../font/Raleway-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Raleway;
  src: url(../font/Raleway-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Raleway;
  src: url(../font/Raleway-Bold.ttf);
  font-weight: 700;
}

body {
  text-align: center;
  background: black;
  font-family: Raleway, sans-serif;
  color: aliceblue;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: block;
  position: relative;
  width: 100%;
  height: 40vh;
}

.heading--h1,
.blur {
  font-family: Harmony, Raleway, sans-serif;
  font-size: 200px;
  font-weight: 100;
  color: #f9b7d5;
  margin-bottom: 40px;
}

.heading--h1 {
  position: absolute;
  top: px;
  left: 624px;
}

.blur {
  position: absolute;
  top: 1px;
  left: 626px;
  color: #ff8cb4;
  filter: blur(1px);
}

.title--sub {
  position: absolute;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  left: 820px;
  top: 144px;
}

.day__list {
  margin: 0 100px;
}

.day__list {
  display: flex;
  justify-content: space-between;
}

.heading--h2 {
  margin-bottom: 12px;
  font-weight: 400;
}

.ex__list li {
  margin-top: 12px;
  font-weight: 300;
}

a:hover {
  color: #ff8cb4;
}
