* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Harmony;
  src: url(../font/Harmony.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(../font/Raleway-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Raleway;
  src: url(../font/Raleway-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Raleway;
  src: url(../font/Raleway-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Raleway;
  src: url(../font/Raleway-Bold.ttf);
  font-weight: 700;
}

body {
  background: black;
  font-family: Raleway, sans-serif;
  color: aliceblue;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.homework {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
}

.heading--h1 {
  position: relative;
  font-family: Harmony, Raleway, sans-serif;
  font-size: 200px;
  font-weight: 100;
  color: #f9b7d5;
  text-shadow: rgba(255, 140, 180, 0.4) 1px 1px,
    rgba(255, 140, 180, 0.3) 2px 2px, rgba(255, 140, 180, 0.2) 3px 3px,
    rgba(255, 140, 180, 0.1) 4px 4px, rgba(255, 140, 180, 0.05) 5px 5px;
}

.heading--h1::after {
  content: "vinhh03";
  position: absolute;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  left: 220px;
  top: 144px;
  text-shadow: none;
}

.day__list {
  margin: 0 100px;
}

.day__list {
  display: flex;
  justify-content: space-between;
}

.heading--h2 {
  margin-bottom: 12px;
  font-weight: 400;
}

.ex__list li {
  margin-top: 12px;
  font-weight: 300;
}

a:hover {
  color: #f9b7d5;
  text-shadow: rgba(255, 140, 180, 0.4) 1px 1px,
    rgba(255, 140, 180, 0.3) 2px 2px, rgba(255, 140, 180, 0.2) 3px 3px,
    rgba(255, 140, 180, 0.1) 4px 4px, rgba(255, 140, 180, 0.05) 5px 5px;
}
