* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  width: 300px;
  border: 1px solid red;
  margin: 30px auto;
}

.box ul {
  /* list-style-position: inside;
  list-style-type: decimal-leading-zero; */
  list-style: none;
}

.box ul li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url() no-repeat left center / 20px;
  vertical-align: middle;
}

/* 
    list-style-type: square | circle | disc | decimal | decimal-leading-zero | lower-alpha | lower-roman | upper-roman | upper-alpha
*/
