body {
  color: green;
}

/* Desktop First */

@media screen and (max-width: 1200px) {
  body {
    color: red;
  }
}

@media screen and (max-width: 992px) {
  body {
    color: blue;
  }
}

@media screen and (max-width: 576px) {
  body {
    color: blueviolet;
  }
}

/* Mobile First */

@media screen and (min-width: 992px) {
  body {
    color: blue;
  }
}
