* {
  padding: 0;
  margin: 0;
}

.box {
  width: 600px;
}

.image {
  float: left;
  border-radius: 50%;
  shape-outside: circle();
}

.image::after {
  content: "";
  display: block;
  clear: both;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
